html{
	font-family: 'Roboto', arial, sans-serif;
	font-size: 110%;
}
body{
	padding: 0;
	margin: 0;
}
.main-header{
	text-align: center;
	background-color: #16210b;
	color: #fff;
	padding: 4em;
}
	.main-header h1{
		margin: 0;
	}
	.main-header h2{
		font-size: 1rem;
		font-weight: normal;
	}

.card{
	color: #fff;
	height: 30vh;
	width: 100%;
	font-size: cover;
	padding: .4em;
	font-family: 'Megrim', cursive;
	position: relative;
	background-color: #333;
}
	
	.card--valencia{
		/*background-image: url(../img/valencia-small.jpg);*/
	}

	.card--mv{
		/*background-image: url(../img/valencia-small.jpg);*/
	}

	.card__title{
		margin: 0;
		text-align: center;
		font-size: 2rem;
	}

	.card__date{
		font-size: .7rem;
		margin: 0;
		text-align: center;
	}

/*min-width=Del infinito a 0*/ /*max-width= de 0 al infinito*/
/*Recomendable usar em en vez de px*/
@media(min-width: 32em){
	.card{
		background-color: #333;
	}
}
@media(min-width: 400px){ 
	.main-header{
		font-size: 80%;
	}
}

@media screen(orientation:landscape){ /*Cuando gire el mobile*/
	
}

	.card__info{
		position: absolute;
		bottom: .4em;
		left: .4em;
		text-align: center;
	}

	.card__image{
		display: block;
	}

	.card__temp{
		display: block;
		font-size: 3rem;
		line-height: 1;
	}

	.card__maxt::before{
		content: "Max: ";
	}

	.card__mint::before{
		content: "Min: ";
	}
	
	.card__temp::after,
	.card__maxt::after,
	.card__mint::after{
		content: "°C";
	}